<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div style=" background-color: lightgray;" >
    <a routerLink="/contractList" class="btn btn-link"><i class="fa fa-long-arrow-left" style="font-size:25px;color: black;"></i></a>
    <span style="font-size: 25px;color:black;margin-left: 10px;">{{contracts.value.name}}</span>
</div>


  <ul class="nav nav-tabs mt-2 ml-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contract Detail</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Document</a>
    </li>
    <!-- <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li> -->
  </ul>
  <div class="tab-content  ml-2" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="container-fluid">
            <form [formGroup]="contracts" (ngSubmit)="UpdateContract()">
                <div class="container-fluid" style="padding: 30px; margin:4px;">
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Company :</h5></div>
                                <div class="col-sm b-color">
                                    <p>{{contracts.value.company.name}}</p>
                                    <!-- <select formControlName="company" class="dropdown" class="form-control">
                                        <option value="" selected>Select Company</option>
                                        <option *ngFor="let company of companyDataName" [value]="company.id"
                                            class="bold"><i class="fas fa-image"
                                                style="color: blue;font-size:120%;"></i>&nbsp;&nbsp;
                                            {{company.name}}</option>
                                    </select> -->

                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Name:</h5></div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p>{{contracts.value.name}}</p>
                                            <!-- <input formControlName="name" id="name" class="form-control" type="text"
                                                placeholder="Name" /> -->
                                            <div
                                                *ngIf="contracts.get('name')?.dirty || contracts.get('name')?.touched">
                                                <span class="text-danger" *ngIf="contracts.get('name')?.errors && 
                                                contracts.get('name')?.hasError('required')">
                                                    Name is required</span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Stage:</h5></div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p>{{contracts.value.stage}}</p>
                                            <!-- <select formControlName="stage" class="dropdown" class="form-control">
                                                <option [value]=" " selected>Select stage</option>
                                                <option *ngFor="let stage of stageDataName" [value]="stage.id"
                                                    class="bold">
                                                    {{stage.name}}</option>
                                            </select> -->
                                            <div
                                                *ngIf="contracts.get('stage')?.dirty || contracts.get('stage')?.touched">
                                                <span class="text-danger" *ngIf="contracts.get('stage')?.errors && 
                                        contracts.get('stage')?.hasError('required')">
                                                    Stage is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Owner:</h5></div>
                                <div class="col-sm">
                                    <p>Melissa Hughes</p>
                                    <!-- <span style="color: red;">*</span>&nbsp;&nbsp;
                                    <i class="fas fa-user" style="color: blue;font-size:100%;"></i>&nbsp;&nbsp;
                                    <b></b> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Signed dates:</h5></div>
                                <div class="col-sm ">
                                    <p *ngIf="contracts.value.signeddate != undefined">{{contracts.value.signeddate}}</p>
                                    <!-- <input formControlName="signeddate" name="signeddate" placeholder="yyyy-MM-dd"
                                        class="form-control" type="datetime-local" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Term</h5>(Month):</div>
                                <div class="col-sm">
                                    <p>{{contracts.value.term}}   </p>
                                    <!-- <input class="form-control" type="number" formControlName="term"
                                        placeholder="Term" /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Install Date:</h5></div>
                                <div class="col-sm">
                                    <p *ngIf="contracts.value.installdate != undefined">{{contracts.value.installdate}}</p>
                                    <!-- <input formControlName="installdate" name="installdate" placeholder="yyyy-MM-dd"
                                        class="form-control" type="datetime-local" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Billing Date:</h5></div>
                                <div class="col-sm">
                                    <p *ngIf="contracts.value.billingdate != undefined">{{contracts.value.billingdate}}</p>
                                    <!-- <input formControlName="billingdate" name="billingdate" placeholder="yyyy-MM-dd"
                                        class="form-control" type="datetime-local" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Billing Contract:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.billingcontact.name}}</p>
                                    <!-- <select formControlName="billingcontact" class="dropdown" class="form-control">
                                        <option value="" selected>Select Billing Contract</option>
                                        <option *ngFor="let contact of contactDataName" [value]="contact.id"
                                            class="bold">
                                            {{contact.fullname}}</option>
                                    </select> -->
                                    <!-- <input formControlName="BillingContract" name="BillingContract"  placeholder="Billing Contract"   class="form-control" type="text" required/> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>

                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>MRC:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.mrc}}</p>
                                    <!-- <input class="form-control" type="number" formControlName="mrc"
                                        placeholder="MRC" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Technical Contact:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.technicalcontact.name}}</p>
                                    <!-- <select formControlName="technicalcontact" class="dropdown"
                                        class="form-control">
                                        <option value="" selected>Select Technical Contract</option>
                                        <option *ngFor="let contact of contactDataName" [value]="contact.id"
                                            class="bold">
                                            {{contact.fullname}}</option>
                                    </select> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Supplier:</h5></div>
                                <div class="col-sm b-color">
                                    <p>{{contracts.value.supplier.name}}</p>
                                    <!-- <select formControlName="supplier" class="dropdown" class="form-control">
                                        <option value="" selected>Select Company</option>
                                        <option *ngFor="let comapany of companyDataName" [value]="comapany.id"
                                            class="bold"><i class="fas fa-image"
                                                style="color: blue;font-size:120%;"></i>&nbsp;&nbsp;
                                            {{comapany.name}}</option>
                                    </select> -->
                                    <!-- <i class="fas fa-image" style="color: blue;font-size:120%;"></i>&nbsp;&nbsp;
                                    <b>AT&T</b> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Supplier contact:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.suppliercontact.name}}</p>
                                    <!-- <select formControlName="suppliercontact" class="dropdown" class="form-control">
                                        <option value="" selected>Select Supplier Contract</option>
                                        <option *ngFor="let contact of contactDataName" [value]="contact.id"
                                            class="bold">
                                            {{contact.fullname}}</option>
                                    </select> -->
                                    <!-- <input formControlName="SupplierContact" name="SupplierContact"  placeholder="Supplier contact"   class="form-control" type="number" required/> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Supplier Contract #:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.suppliercontract}}</p>
                                    <!-- <input class="form-control" type="text" formControlName="suppliercontract"
                                        placeholder="Supplier Contract" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Renewal date:</h5></div>
                                <div class="col-sm b-color">
                                    <p *ngIf="contracts.value.renewaldate  != undefined">{{contracts.value.renewaldate}}</p>
                                    <!-- <input formControlName="renewaldate" name="renewaldate"
                                        placeholder="Renewal Date" class="form-control" type="datetime-local"
                                        required /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Auto-Renewal:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.autorenewal}}</p>
                                    <!-- <input formControlName="autorenewal" name="autorenewal" type="checkbox"
                                        class="check" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>NRC:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.nrc}}</p>
                                    <!-- <input formControlName="nrc" name="nrc" placeholder="NRC" class="form-control"
                                        type="number" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Managed Contract:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.managedcontract}}</p>
                                    <!-- <input formControlName="managedcontract" name="managedcontract"
                                        placeholder="Managed Contract" class="check" type="checkbox" required /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>

                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Decision Maker:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.decisionmakercontract}}</p>
                                    <!-- <input formControlName="decisionmakercontract" name="decisionmakercontract"
                                        placeholder="Decision Maker" class="form-control" type="text" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5># Of Decision Days:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.decisiondays}}</p>
                                    <!-- <input formControlName="decisiondays" name="decisiondays"
                                        placeholder="Decision Days" type="number" class="form-control" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Industry:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.industry}}</p>
                                    <!-- <input formControlName="industry" name="industry" placeholder="Industry"
                                        type="text" class="form-control" /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Strategy for Contact:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.strategyforcontract}}</p>
                                    <!-- <input formControlName="strategyforcontract" name="strategyforcontract"
                                        placeholder="Strategy for Contact" type="text" class="form-control" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Tech Type:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.techtype.name}}</p>
                                    <!-- <select formControlName="techtype" class="dropdown" class="form-control">
                                        <option value="" selected>Select Tech Type</option>
                                        <option *ngFor="let type of opportunityDataName" class="bold"
                                            [value]="type.id">{{type.name}}
                                        </option>
                                    </select> -->
                                    <!-- <input formControlName="TechType" name="TechType"  placeholder="Tech Type"   class="form-control" type="text" required/> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Location:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.location}}</p>
                                    <!-- <input formControlName="location" name="location" placeholder="Location"
                                        class="form-control" type="text" required /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>PO Required?</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.porequired}}</p>
                                    <!-- <input formControlName="porequired" name="porequired" type="checkbox"
                                        class="check" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>PO# :</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.po}}</p>
                                    <!-- <input formControlName="po" name="po" placeholder="PO" class="form-control"
                                        type="text" required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>Yearly Spend:</h5></div>
                                <div class="col-sm ">
                                    <p>{{contracts.value.yearlyspend}}</p>
                                    <!-- <input formControlName="yearlyspend" name="yearlyspend"
                                        placeholder="Yearly Spend" class="form-control" type="number" required /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>MSA:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.msa}}</p>
                                    <!-- <input formControlName="msa" name="msa" type="checkbox" class="check" /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>MSA Notice Dates:</h5></div>
                                <div class="col-sm">
                                    <p *ngIf="contracts.value.msanoticedates != undefined">{{contracts.value.msanoticedates}}</p>
                                    <!-- <input formControlName="msanoticedates" name="msanoticedates"
                                        placeholder="yyyy-MM-dd" class="form-control" type="datetime-local"
                                        required /> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="row">
                                <div class="col-sm-4"><h5>1<sup>st</sup>&nbsp; Renewal Notification Date:</h5></div>
                                <div class="col-sm">
                                    <p *ngIf="contracts.value.firstrenewalnotificationdate != undefined">{{contracts.value.firstrenewalnotificationdate}}</p>
                                    <p *ngIf="contracts.value.firstrenewalnotificationdate == undefined">{{contracts.value.firstrenewalnotificationdatesent}}</p>
                                    <!-- <input formControlName="firstrenewalnotificationdate"
                                        name="strenewalnotificationdate" placeholder="yyyy-MM-dd"
                                        class="form-control" type="datetime-local" required /> -->
                                </div>
                                <div class="col-sm">
                                    <p *ngIf="contracts.value.firstrenewalnotificationdate != undefined">{{contracts.value.firstrenewalnotificationdatesent}}</p>
                                    <!-- <input formControlName="firstrenewalnotificationdatesent"
                                        name="strenewalnotificationdatesent" type="checkbox" class="check" /> -->
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm">
                        

                            <div class="row">
                                <div class="col-sm-4"><h5>2<sup>nd</sup>&nbsp; Renewal Notification Date:</h5></div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.secondrenewalnotificationdate != undefined">{{contracts.value.secondrenewalnotificationdate}}</p>
                                            <p *ngIf="contracts.value.secondrenewalnotificationdate == undefined">{{contracts.value.secondrenewalnotificationdatesent}}</p>
                                        </div>
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.secondrenewalnotificationdate != undefined">{{contracts.value.secondrenewalnotificationdatesent}}</p>
                                            <!-- <input formControlName="thirdrenewalnotificationdatesent"
                                                name="rdrenewalnotificationdatesent" type="checkbox"
                                                class="check" /> -->
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm">
                        

                            <div class="row">
                                <div class="col-sm-4"><h5>3<sup>rd</sup>&nbsp;Renewal Notification Date:</h5></div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.thirdrenewalnotificationdate != undefined">{{contracts.value.thirdrenewalnotificationdate}}</p>
                                            <p *ngIf="contracts.value.thirdrenewalnotificationdate == undefined">{{contracts.value.thirdrenewalnotificationdatesent}}</p>
                                            <!-- <input formControlName="thirdrenewalnotificationdate"
                                                name="rdrenewalnotificationdate" placeholder="yyyy-MM-dd"
                                                class="form-control" type="datetime-local" required /> -->
                                        </div>
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.thirdrenewalnotificationdate != undefined">{{contracts.value.thirdrenewalnotificationdatesent}}</p>
                                            <!-- <input formControlName="thirdrenewalnotificationdatesent"
                                                name="rdrenewalnotificationdatesent" type="checkbox"
                                                class="check" /> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            

                            <div class="row">
                                <div class="col-sm-4"><h5>Final Decision Date:</h5></div>
                                <div class="col-sm">
                                    <div class="row">
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.finaldecisiondate != undefined">{{contracts.value.finaldecisiondate}}</p>
                                            <p *ngIf="contracts.value.finaldecisiondate == undefined">{{contracts.value.finaldecisiondatesent}}</p>
                                            <!-- <input formControlName="finaldecisiondate" name="finaldecisiondate"
                                                placeholder="yyyy-MM-dd" class="form-control" type="datetime-local"
                                                required /> -->
                                        </div>
                                        <div class="col-sm">
                                            <p *ngIf="contracts.value.finaldecisiondate != undefined">{{contracts.value.finaldecisiondatesent}}</p>
                                            <!-- <input formControlName="finaldecisiondatesent"
                                                name="finaldecisiondatesent" type="checkbox" class="check" /> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><hr/>
                    <div class="row rm">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-4"><h5>Signature Process:</h5></div>
                                <div class="col-sm">
                                    <p>{{contracts.value.signatureprocess}}</p>
                                    <!-- <input formControlName="msa" name="msa" type="checkbox" class="check" /> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm">
                            <div class="row">
                                <div style="display:flex;justify-content:flex-end">
                                    <button class="btn btn-primary" [disabled]="contracts.get('name')?.invalid && contracts.get('stage')?.invalid && contracts.get('stage')?.errors && 
                                    contracts.get('stage')?.hasError('required') && contracts.get('name')?.hasError('required')"
                                        type="submit">Update</button>
                                    <a style="margin-left: 10px;" routerLink="/contractList" class="btn btn-danger">Back</a>
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="container-fluid mt-3">
    <div class="table-responsive">
        <table class="table">
            <thead  style="background: rgb(204, 204, 204); border-bottom:3px solid #000;">
                <tr  >
                    <th>Document Name</th>
                    <th>Upload Date </th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documentData" >
                        <td> {{document.filename ? document.filename  :"-"}}  </td>
                        <td>  {{document.createdon ? document.createdon:"-"}} </td>
                        <td>
                            <a target="_blank" [href]="document.notetext" [download]="document.filename">
                                <img src="https://cdn-icons-png.flaticon.com/512/3580/3580085.png" width="16px">
                              </a>
                            
                    </td>
                </tr>
            </tbody>

        </table>
     </div>

</div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>



<router-outlet></router-outlet>


